# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/.clerk/
/db/migrations/meta/0000_snapshot.json
/db/migrations/meta/0001_snapshot.json
/db/migrations/meta/0002_snapshot.json
/db/migrations/meta/0003_snapshot.json
/db/migrations/meta/0004_snapshot.json
/db/migrations/meta/0005_snapshot.json
/db/migrations/meta/0006_snapshot.json
/db/migrations/meta/0007_snapshot.json
/db/migrations/meta/0008_snapshot.json
/db/migrations/meta/0009_snapshot.json
/db/migrations/meta/0010_snapshot.json
/db/migrations/meta/0011_snapshot.json
/db/migrations/meta/0012_snapshot.json
/db/migrations/meta/0013_snapshot.json
/db/migrations/meta/_journal.json
/db/migrations/0000_freezing_vindicator.sql
/db/migrations/0001_luxuriant_omega_sentinel.sql
/db/migrations/0002_odd_masque.sql
/db/migrations/0003_common_eddie_brock.sql
/db/migrations/0004_gorgeous_luckman.sql
/db/migrations/0005_grey_lightspeed.sql
/db/migrations/0006_dusty_excalibur.sql
/db/migrations/0007_thin_nitro.sql
/db/migrations/0008_even_lily_hollister.sql
/db/migrations/0009_rich_gwen_stacy.sql
/db/migrations/0010_lean_shadow_king.sql
/db/migrations/0011_large_slipstream.sql
/db/migrations/0012_friendly_lucky_pierre.sql
/db/migrations/0013_needy_wither.sql
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/db/migrations/meta/0014_snapshot.json
/db/migrations/0014_illegal_sharon_ventura.sql
